/* body {
	background: linear-gradient(to right, grey 0%,white 40%), url(/img/buttphoto.jpg) no-repeat center center;
	background-blend-mode:lighten;
} */

.ajax-container {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.ajax-container.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.shade {
	background: rgba(136,136,136,.8);
}
.shadeText {
	color: black !important;	
}

.main-header {
	 position: fixed;
	 top: 0;
	 left: 0;
	 z-index: 100;	
	 height: 100%;
	 width: 30%;
	 transform: translateX(calc(-100% + 80px));
}

.main-logo + p {
	color: grey;
	position: absolute;
	bottom: 0;
	right: 40px;
	white-space: nowrap;
	transform: rotate(90deg);
	transform-origin: 100% 50%;
	z-index: 3;
}

.main-logo {
	position: absolute;
	top: 30px;
	right: 5px;
	width: 72px;
	height: 72px;
	z-index: 3;
}

#logosvg {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	transform-origin: center center;
}

#logosvg {
	margin-top: -18px;
	background: url(/img/bsidedooodle.svg) no-repeat center center;
}

.nav-button {
	height: 58px;
	width: 58px;
	border-radius: 100%;
	background: black;
	position: absolute;
	top: 50%;
	right: 0%;
	margin: -29px -29px 0 0;
	z-index: 5;
	cursor: pointer;
}

.main-header .nav-button.hovered span:nth-child(1) {
  transform: translateY(-7px);
}
.main-header .nav-button.hovered span:nth-child(2) {
  transform: translateY(7px);
}
.main-header .nav-button span {
  display: block;
  height: 2px;
  width: 26px;
  width: 0;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -13px;
  margin-left: 0;
  transition: all 0.5s !important;
}
.main-header .nav-button span:nth-child(1) {
  transform: translateY(-5px);
}
.main-header .nav-button span:nth-child(2) {
  transform: translateY(5px);
}


.main-header .main-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	border-right: 2px solid #EFEFEF;
}

.main-header .main-nav .mask {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: white;
	z-index: 1;
}

.main-header .main-nav .pictures {
	position: absolute;
	top: 80px;
	right: 80px;
	width: calc(100% - 500px);
	height: calc(100% - 160px);
	z-index: 2;
}

.main-header .main-nav .pictures img {
	display: block;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.main-header .main-nav .list {
	position: absolute;
	left: 5%;
	top: 100px;
	z-index: 3;
}

.main-header .main-nav .list a {
	display: block;
	height: 100%;
}

.main-header .main-nav .list li {
	position: relative;
	color: #9b9ba4;
}

.main-header .social-links {
  position: absolute;
  bottom: 30px;
  left: 30px;
  padding-right: 70px;
  z-index: 3;
  font: 400 18px/30px 'Work Sans', 'Helvetica', sans-serif;
  color: #9b9ba4;
}

.main-header .main-nav .social-links > a {
	color: black;
}

.main-header .main-nav .social-links a {
	transition: color 700ms ease 0ms;
	text-decoration: none;
	color: #9b9ba4;
}
.main-header .main-nav .social-links a:hover {
	color: black;
}
.main-header.animation-start {
  transition: transform 1000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
}
.main-header.animation-start-timeout .main-nav .mask {
  transition: transform 1000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
}
.main-header.animation-start-timeout .nav-button span {
  width: 26px;
  margin-left: -13px;
}
.main-header .nav-button span {
  transition: transform 1000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
}
.main-header .main-nav .mask-outer {
  transform: translateX(0%);
}
.main-header .main-nav .mask-inner {
  transform: translateX(100%);
}
/* LINE 583 .main-header .main-nav .list li  */
.main-header .main-nav .list li {
  transform: translateX(100px);
  opacity: 0;
  transition: transform 0ms cubic-bezier(0.19, 1, 0.22, 1) 1000ms, opacity 0ms cubic-bezier(0.19, 1, 0.22, 1) 1000ms;
}
.main-header.displayed {
  transform: translateX(0);
}
.main-header.displayed .nav-button span:nth-child(1) {
  transform: rotate(45deg) !important;
}
.main-header.displayed .nav-button span:nth-child(2) {
  transform: rotate(-45deg) !important;
}
.main-header.displayed .main-nav .mask {
  transform: translateX(0);
}
.main-header.displayed .list li {
  transform: translateX(0);
  opacity: 1;
  transition: transform 1000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms, opacity 1000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
}
.main-header.displayed .list li:nth-child(1) {
  transition-delay: 0ms;
}
.main-header.displayed .list li:nth-child(2) {
  transition-delay: 50ms;
}
.main-header.displayed .list li:nth-child(3) {
  transition-delay: 100ms;
}
.main-header.displayed .list li:nth-child(4) {
  transition-delay: 150ms;
}
.main-header.displayed .list li:nth-child(5) {
  transition-delay: 200ms;
}
.main-header.displayed .list li:nth-child(6) {
  transition-delay: 250ms;
}
/* 635 */
@media screen and (max-width: 768px) {
  .main-header {
    width: 100%;
    height: 80px;
    overflow: hidden;
    transition: none !important;
    z-index: 100;
  }
  .main-header .main-logo + p {
    display: none;
  }
  .main-header .main-nav .mask {
    transition: none !important;
    height: auto;
    background: none;
  }
  .main-header.displayed {
    height: auto;
    min-height: 100%;
    background: #fff;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
  }
  .main-header .main-logo {
    top: 25px;
    left: 20px;
    right: auto;
    font: 700 45px/36px 'NoeDisplay', 'Times', serif;
  }
  .main-header .main-logo:after {
    height: 6px;
    width: 6px;
    bottom: -10px;
    margin-left: -3px;
  }
  .main-header .nav-button {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    margin: 0;
  }
  body div#bookus {
    width: auto;
  }

 
  .main-header .nav-button.hovered span:nth-child(1) {
    transform: translateY(-4px);
  }
  .main-header .nav-button.hovered span:nth-child(2) {
    transform: translateY(4px);
  }
  .main-header .nav-button span {
    height: 1px !important;
    width: 16px !important;
    margin: 0 0 0 -8px !important;
  }
  .main-header .nav-button span:nth-child(1) {
    transform: translateY(-2px);
  }
  .main-header .nav-button span:nth-child(2) {
    transform: translateY(2px);
  }
  .main-header .main-nav {
    border-right: 0;
  }
  .main-header .main-nav .pictures {
    display: none;
  }
  .main-header .main-nav .list {
    position: relative;
    left: 0;
    top: 0;
    margin: 80px 0 0 60px;
    transform: none;
  }
  .main-header .main-nav .list li:nth-child(1) {
    margin-bottom: 30px;
  }
  .main-header {
    transform: translateX(0);
  }
  .main-header .main-nav .mask-outer {
    transform: translateX(-100%);
  }

  .main-header .main-nav .list a {
    display: block;
    height: 100%;
}
.main-header .main-nav .list li {
  position: relative;
  color: #9b9ba4;
}

.main-header .main-nav .list li:nth-child(1) {
  margin-bottom: 124px;
}

  .main-header .social-links {
    position: relative;
    bottom: auto;
    left: 60px;
    font-size: 14px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
  }
}
/* 728 */
@media screen and (max-height: 720px) {
  .main-header .main-nav .list {
    top: 10%;
  }
  .main-header .main-nav .list li:nth-child(1) {
    margin-bottom: 0%;
  }
}
@-moz-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* 768 */
#part-home {
  padding-left: 80px;
}
#part-home header {
  position: relative;
  margin-bottom: 230px;
}
#part-home header h1 {
  position: absolute;
  top: 100px;
  left: 70px;
  z-index: 4;
  width: 600px;
  font: 500 40px/48px 'Work Sans', 'Helvetica', sans-serif;
  color: #9b9ba4;
}

#part-home header .hero-container {
  position: relative;
  width: calc(100% - 80px);
  margin-left: 40px;
}
#part-home header .hero-container .contact {
  margin-top: 50px;
  transform-origin: 0% 0%;
  transform: rotate(90deg) translateY(-100%);
}
#part-home header img {
  display: block;
  position: absolute;
  max-width: calc(100% - 100px);
  max-height: 100%;
  margin: 0 auto;
  bottom: 0;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
#part-home .contact {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
}
#part-home .contact span {
  font-size: 18px;
  color: #4b32f0;
  display: block;
  margin-bottom: 3px;
}
#part-home .contact a {
  font-size: 22px;
}
#part-home .text strong {
  position: relative;
}
#part-home .text strong span {
  position: relative;
  z-index: 1;
}
#part-home .text strong b {
  position: relative;
  z-index: 2;
}
#part-home .text strong span:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 18px;
  width: 100%;
  background: #edeafd;
  z-index: 1;
}
/* EDITS ANDREW */
#part-home .text span#figgy:after {
	content: '';
	display: block;
	background: #edeafd;
	width: 100%;
}


#part-home .presentation {
  max-width: 1100px;
  padding: 0 80px;
  box-sizing: center;
  margin: 0 auto 100px;
  position: relative;
}
#part-home .presentation .text {
  font: 300 24px/38px 'Work Sans', 'Helvetica', sans-serif;
  color: #313035;
}
#part-home .presentation h2 {
  width: 60%;
}
#part-home .presentation .contact {
  top: auto;
  bottom: 11px;
  left: 60%;
  margin-left: 50px;
  white-space: nowrap;
}
#part-home .presentation .line {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 60%;
  margin: -150px 0 0 50px;
}
#part-home .presentation .line:before {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #000;
  left: 50%;
  top: 50%;
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.4s;
  opacity: 1;
}
#part-home .presentation.hidden .line:before {
  width: 0px;
  opacity: 0;
}
/* 913 skills part*/

#part-home .skills {
  color: #fff;
  margin: 0 auto;
  text-align: center;
  background: #4b32f0;
  padding: 110px 0;
}
#part-home .skills p {
  font: 500 24px/52px 'Work Sans', 'Helvetica', sans-serif;
  color: #fff;
  posiiton: relative;
}
#part-home .skills p:before {
  display: block;
  content: '';
  height: 8px;
  width: 8px;
  background: #fff;
  border-radius: 100%;
  margin: 0 auto 40px;
}
#part-home .skills ul {
  font: 300 30px/52px 'Work Sans', 'Helvetica', sans-serif;
}
/* 937 NO ICON SO NO FILL */

/* ANDREW EDITS */
body div#bookus {
	display: block;
	text-align: center;
	width: calc(100% - 80px);
}
body div#bookus a {
	text-decoration: none;
	cursor: pointer;
	color: grey;
  position: absolute;
}


/* ANDREW EDITS */


#part-home .position {
  max-width: 950px;
  padding: 0 80px;
  margin: 0 auto 250px;
  position: relative;
}
#part-home .position .head {
  font: 500 24px/38px 'Work Sans', 'Helvetica', sans-serif;
  max-width: 470px;
  text-align: right;
  margin-bottom: 40px;
}
#part-home .position .text {
  font: 300 24px/38px 'Work Sans', 'Helvetica', sans-serif;
  box-sizing: border-box;
  padding-left: 250px;
}
#part-home .position .line {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: -220px;
  left: 100px;
}
#part-home .position .line:before {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #000;
  left: 50%;
  top: 50%;
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.6s;
  opacity: 1;
}
#part-home .position.hidden .line:before {
  width: 0%;
  opacity: 0;
}
#part-home > * {
  transition: transform 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms, opacity 2000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
}
#part-home > *.hidden {
  opacity: 0;
  transform: translateY(100px);
}
#part-home.displayed h1,
#part-home.displayed .hero-scroll,
#part-home.displayed header .contact {
  transition: transform 1500ms cubic-bezier(0.19, 1, 0.22, 1) 1000ms, opacity 1000ms cubic-bezier(0.19, 1, 0.22, 1) 1000ms;
}
#part-home.displayed header .hero-container {
  transform: translateY(0%);
  transition: transform 1000ms cubic-bezier(0.19, 1, 0.22, 1) 1000ms, opacity 500ms cubic-bezier(0.19, 1, 0.22, 1) 1000ms;
}
#part-home.pre-displayed h1,
#part-home.pre-displayed .hero-scroll,
#part-home.pre-displayed header .contact {
  opacity: 0;
  transform: translateY(50px);
}
#part-home.pre-displayed .hero-scroll {
  transform: translateY(200px);
}
#part-home.pre-displayed header .contact {
  transform: translateY(200px) rotate(90deg) translateY(-100%);
}
#part-home.pre-displayed header .hero-container {
  opacity: 0;
  transform: translateY(100%);
}
#part-home.hidden h1,
#part-home.hidden .hero-scroll,
#part-home.hidden header .contact {
  transition: opacity 500ms cubic-bezier(0.6, 0.04, 0.98, 0.335) 0ms, transform 500ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
  opacity: 0;
}
#part-home.hidden .hero-scroll {
  transform: translateY(-100px);
}
#part-home.hidden header .contact {
  transform: translateY(-100px) rotate(90deg) translateY(-100%);
}
#part-home.hidden header .hero-container {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 1000ms cubic-bezier(0.19, 1, 0.22, 1) 300ms, opacity 900ms cubic-bezier(0.19, 1, 0.22, 1) 300ms;
}

/* CURRENT EDITS ABOVE */




/* Media queries */
@media screen and (max-width: 768px) {
  #part-home {
    padding-left: 0;
  }
  #part-home header {
    padding: 0 0 0 20px;
    margin-bottom: 150px;
  }
  #part-home header:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
  }
  #part-home header h1 {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    font-size: 34px;
    line-height: 1.5;
    padding: 120px 20px 0 17%;
  }
  #part-home header img {
    max-width: none;
    height: 100%;
    left: auto;
    right: 0;
    transform: none;
  }
  #part-home header .hero-container {
    height: auto !important;
    width: auto;
    margin: 40px 0 0 45px;
    text-align: right;
    float: right;
  }
  #part-home header .hero-container .contact {
    display: none;
  }
  #part-home header .background-wrapper {
    background: url("") no-repeat center right;
    background-size: cover;
    width: 80vw;
    height: 0vw;
    display: inline-block;
  }
  #part-home header .background-wrapper img {
    display: none;
  }
  #part-home header .hero-scroll {
    margin: 0 !important;
    left: 0;
  }
  #part-home header .hero-scroll p {
    transform-origin: bottom left;
    transform: rotate(90deg) translateX(-100%);
    margin-left: -35px;
  }
  #part-home .presentation {
    max-width: none;
    padding: 0 35px;
  }
  #part-home .presentation .line {
    top: auto;
    left: auto;
    bottom: -30px;
    right: 0px;
    margin: 0;
    width: 160px;
    height: 160px;
  }
  #part-home .presentation .text {
    font-size: 20px;
    line-height: 1.6;
  }
  #part-home .presentation h2 {
    width: auto;
  }
  #part-home .presentation .contact {
    position: relative;
    left: auto;
    bottom: auto;
    margin-left: 0;
    margin-top: 100px;
  }
  #part-home .skills ul {
    font-size: 20px;
    line-height: 2.2;
  }
  #part-home .quote p {
    font-size: 35px;
    line-height: 1.5;
    width: auto;
  }
  #part-home .position {
    padding: 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
  #part-home .position .line {
    display: none;
  }
  #part-home .position .head {
    width: auto;
    font-size: inherit;
    line-height: inherit;
    max-width: none;
    text-align: left;
  }
  #part-home .position .text {
    padding-left: 0px;
    font-size: inherit;
    line-height: inherit;
  }
  #part-home footer .email {
    font-size: 30px;
  }
}
@media screen and (max-width: 480px) {
  #part-home header h1 {
    font-size: 18px;
    line-height: 1.5;
    padding-right: 30px;
  }
}

.mask-inner ul.list {
    font: 300 36px/62px 'Work Sans', 'Helvetica', sans-serif;
    position: absolute;
    left: 100px;
    top: 100px;
    z-index: 3;
    
}

.mask-inner ul.list a {
	text-decoration: none;
	color: grey;
}


/*------------------------------------*\
    MATERIAL PHOTO GALLERY
\*------------------------------------*/

.bsidePhotos {
	display: block;	
	margin: 1px 10vw;
}

.m-p-g {
  max-width: 100%;
  margin: 0 auto;

}
.m-p-g__thumbs-img {
  margin: 0;
  float: left;
  vertical-align: bottom;
  cursor: pointer;
  z-index: 1;
  position: relative;
  opacity: 0;
  filter: brightness(100%);
  -webkit-tap-highlight-color: transparent;
  will-change: opacity, transform;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.m-p-g__thumbs-img:hover {
	transform: scale(1.05);
}

.m-p-g__thumbs-img.active {
  z-index: 50;
}
.m-p-g__thumbs-img.layout-completed {
  opacity: 1;
}
.m-p-g__thumbs-img.hide {
  opacity: 0;
}
.m-p-g__thumbs-img:hover {
  filter: brightness(110%);
}
.m-p-g__fullscreen {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: transparent;
  visibility: hidden;
  transition: background 0.25s ease-out, visibility 0.01s 0.5s linear;
  will-change: background, visibility;
  backface-visibility: hidden;
}
.m-p-g__fullscreen.active {
  transition: background .25s ease-out, visibility .01s 0s linear;
  visibility: visible;
  background: rgba(0, 0, 0, 0.95);
}
.m-p-g__fullscreen-img {
  pointer-events: none;
  position: absolute;
  transform-origin: left top;
  top: 50%;
  left: 50%;
  max-height: 100vh;
  max-width: 100%;
  visibility: hidden;
  will-change: visibility;
  transition: opacity 0.5s ease-out;
}
.m-p-g__fullscreen-img.active {
  visibility: visible;
  opacity: 1 !important;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.5s ease-out;
}
.m-p-g__fullscreen-img.almost-active {
  opacity: 0;
  transform: translate3d(0, 0, 0) !important;
}
.m-p-g__controls {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  height: 20vh;
  background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.55) 100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.m-p-g__controls.active {
  opacity: 1;
  visibility: visible;
}
.m-p-g__controls-close, .m-p-g__controls-arrow {
  appearance: none;
  border: none;
  background: none;
}
.m-p-g__controls-close:focus, .m-p-g__controls-arrow:focus {
  outline: none;
}
.m-p-g__controls-arrow {
  position: absolute;
  z-index: 201;
  top: 0;
  width: 20%;
  height: 100vh;
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  opacity: 0;
}
.m-p-g__controls-arrow:hover {
  opacity: 1;
}
.m-p-g__controls-arrow--prev {
  left: 0;
  padding-left: 3vw;
  justify-content: flex-start;
}
.m-p-g__controls-arrow--next {
  right: 0;
  padding-right: 3vw;
  justify-content: flex-end;
}
.m-p-g__controls-close {
  position: absolute;
  top: 3vh;
  left: 3vw;
  z-index: 205;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.m-p-g__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.07);
  transition: all .25s ease-out;
}
.m-p-g__btn:hover {
  background: rgba(255, 255, 255, 0.15);
}
.m-p-g__alertBox {
  position: fixed;
  z-index: 999;
  max-width: 700px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 25px;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  color: grey;
}
.m-p-g__alertBox h2 {
  color: red;
}

/* DEMO */

.m-p-g h2 {
  font-weight: 300;
  margin: 4vh 4vw;
  letter-spacing: 3px;
  color: grey;
  text-transform: uppercase;
}

 .demo-btn {
  display: inline-block;
  margin: 0 2.5px 4vh 2.5px;
  text-decoration: none;
  color: grey;
  padding: 15px;
  line-height: 1;
  min-width: 140px;
  background: rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

 .demo-btn:hover {
  background: rgba(0, 0, 0, 0.12);
}

.displayNone {
	display: none !important;	
}

.displayShow {
	display: block !important;
	margin-right: 80px !important;
}

@media (max-width: 640px) {
  .demo-btn {
    min-width: 0;
    font-size: 14px;
  }
}

