body {
background: url(../img/lightpaperfibers.png) white;
}

.main-header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;	
   height: 100%;
   width: calc(100% - 110px);
   transform: translateX(calc(-100% + 80px));
}

.main-logo + p {
    font: 400 14px/80px $font-family;
    color: $grey;
    position: absolute;
    bottom: 0;
    right: 40px;
    white-space: nowrap;
    transform: rotate(90deg);
    transform-origin: 100% 50%;
    z-index: 3;
	}

.main-header .main-logo {
    position: absolute;
    top: 30px;
    right: 22px;
    width: 72px;
    height: 72px;
    z-index: 3;
}

.main-header .nav-button {
    height: 58px;
    width: 58px;
    border-radius: 100%;
    background: #2a2a2c;
    position: absolute;
    top: 50%;
    right: 0%;
    margin: -29px -29px 0 0;
    z-index: 5;
    cursor: pointer;
}

.main-header .main-logo #logosvg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.main-header .main-logo #logosvg {
    margin-top: -6px;
    background: url(/img/bsidedooodle.svg) no-repeat bottom center;
}
