body {
	background: url() white;
}

.ajax-container {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.ajax-container.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}



.main-header {
	 position: fixed;
	 top: 0;
	 left: 0;
	 z-index: 100;	
	 height: 100%;
	 width: calc(100% - 110px);
	 transform: translateX(calc(-100% + 80px));
}

.main-logo + p {
	color: grey;
	position: absolute;
	bottom: 0;
	right: 40px;
	white-space: nowrap;
	transform: rotate(90deg);
	transform-origin: 100% 50%;
	z-index: 3;
}

.main-logo {
	position: absolute;
	top: 30px;
	right: 5px;
	width: 72px;
	height: 72px;
	z-index: 3;
}

#logosvg {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	transform-origin: center center;
}

#logosvg {
	margin-top: -18px;
	background: url(/img/bsidedooodle.svg) no-repeat center center;
}

.nav-button {
	height: 58px;
	width: 58px;
	border-radius: 100%;
	background: black;
	position: absolute;
	top: 50%;
	right: 0%;
	margin: -29px -29px 0 0;
	z-index: 5;
	cursor: pointer;
}

.main-header .nav-button.hovered span:nth-child(1) {
  transform: translateY(-7px);
}
.main-header .nav-button.hovered span:nth-child(2) {
  transform: translateY(7px);
}
.main-header .nav-button span {
  display: block;
  height: 2px;
  width: 26px;
  width: 0;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1px 0 0 -13px;
  margin-left: 0;
  transition: all 0.5s !important;
}
.main-header .nav-button span:nth-child(1) {
  transform: translateY(-5px);
}
.main-header .nav-button span:nth-child(2) {
  transform: translateY(5px);
}


.main-header .main-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	border-right: 2px solid #EFEFEF;
}

.main-header .main-nav .mask {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: white;
	z-index: 1;
}

.main-header .main-nav .pictures {
	position: absolute;
	top: 80px;
	right: 80px;
	width: calc(100% - 500px);
	height: calc(100% - 160px);
	z-index: 2;
}

.main-header .main-nav .pictures img {
	display: block;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.main-header .main-nav .list {
	position: absolute;
	left: 100px;
	top: 100px;
	z-index: 3;
}

.main-header .main-nav .list a {
	display: block;
	height: 100%;
}

.main-header .main-nav .list li {
	position: relative;
	color: #9b9ba4;
}

.main-header .main-nav .list li:before {
	display: block;
	content: '';
	width: 14px;
	height: 14px;
	border-radius: 100%;
	background: black;
	position: absolute;
	top: 50%;
	margin-top: -7px;
	left: -35px;
	opacity: 0;
}

.main-header .main-nav .list li:nth-child(1) {
  margin-bottom: 124px;
}

.main-header .main-nav .list li:hover,
.main-header .main-nav .list li.current,
.main-header .main-nav .list li.active {
  color: #000;
}

.main-header .main-nav .list li:hover:before,
.main-header .main-nav .list li.current:before,
.main-header .main-nav .list li.active:before {
  opacity: 1;
}

.main-header .social-links {
  position: absolute;
  bottom: 30px;
  left: 100px;
  z-index: 3;
  font: 400 18px/30px 'Work Sans', 'Helvetica', sans-serif;
  color: #9b9ba4;
}

.main-header .main-nav .social-links > a {
	color: black;
}

.main-header .main-nav .social-links a {
	transition: color 700ms ease 0ms;
}
.main-header .main-nav .social-links a:hover {
	color: black;
}

.main-header.animation-start-timeout .main-nav .mask {
  transition: transform 1000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
}
.main-header.animation-start-timeout .nav-button span {
  width: 26px;
  margin-left: -13px;
}
.main-header .nav-button span {
  transition: transform 1000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
}
.main-header .main-nav .mask-outer {
  transform: translateX(0%);
}
.main-header .main-nav .mask-inner {
  transform: translateX(100%);
}
/* LINE 583 .main-header .main-nav .list li  */
.main-header .main-nav .list li {
  transform: translateX(100px);
  opacity: 0;
  transition: transform 0ms cubic-bezier(0.19, 1, 0.22, 1) 1000ms, opacity 0ms cubic-bezier(0.19, 1, 0.22, 1) 1000ms;
}
.main-header.displayed {
  transform: translateX(0);
}
.main-header.displayed .nav-button span:nth-child(1) {
  transform: rotate(45deg);
}
.main-header.displayed .nav-button span:nth-child(2) {
  transform: rotate(-45deg);
}
.main-header.displayed .main-nav .mask {
  transform: translateX(0);
}
.main-header.displayed .list li {
  transform: translateX(0);
  opacity: 1;
  transition: transform 1000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms, opacity 1000ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
}
.main-header.displayed .list li:nth-child(1) {
  transition-delay: 0ms;
}
.main-header.displayed .list li:nth-child(2) {
  transition-delay: 50ms;
}
.main-header.displayed .list li:nth-child(3) {
  transition-delay: 100ms;
}
.main-header.displayed .list li:nth-child(4) {
  transition-delay: 150ms;
}
.main-header.displayed .list li:nth-child(5) {
  transition-delay: 200ms;
}
.main-header.displayed .list li:nth-child(6) {
  transition-delay: 250ms;
}
/* 635 */
@media screen and (max-width: 768px) {
  .main-header {
    width: 100%;
    height: 80px;
    overflow: hidden;
    transition: none !important;
    z-index: 100;
  }
  .main-header .main-logo + p {
    display: none;
  }
  .main-header .main-nav .mask {
    transition: none !important;
    height: auto;
    background: none;
  }
  .main-header.displayed {
    height: auto;
    min-height: 100%;
    background: #fff;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
  }
  .main-header .main-logo {
    top: 25px;
    left: 20px;
    right: auto;
    font: 700 45px/36px 'NoeDisplay', 'Times', serif;
  }
  .main-header .main-logo:after {
    height: 6px;
    width: 6px;
    bottom: -10px;
    margin-left: -3px;
  }
  .main-header .nav-button {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    margin: 0;
  }
  .main-header .nav-button.hovered span:nth-child(1) {
    transform: translateY(-4px);
  }
  .main-header .nav-button.hovered span:nth-child(2) {
    transform: translateY(4px);
  }
  .main-header .nav-button span {
    height: 1px !important;
    width: 16px !important;
    margin: 0 0 0 -8px !important;
  }
  .main-header .nav-button span:nth-child(1) {
    transform: translateY(-2px);
  }
  .main-header .nav-button span:nth-child(2) {
    transform: translateY(2px);
  }
  .main-header .main-nav {
    border-right: 0;
  }
  .main-header .main-nav .pictures {
    display: none;
  }
  .main-header .main-nav .list {
    position: relative;
    left: 0;
    top: 0;
    margin: 80px 0 0 60px;
    transform: none;
  }
  .main-header .main-nav .list li:nth-child(1) {
    margin-bottom: 30px;
  }
  .main-header {
    transform: translateX(0);
  }
  .main-header .main-nav .mask-outer {
    transform: translateX(-100%);
  }
  .main-header .social-links {
    position: relative;
    bottom: auto;
    left: 60px;
    font-size: 14px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
  }
}
/* 728 */
@media screen and (max-height: 720px) {
  .main-header .main-nav .list {
    top: 10%;
  }
  .main-header .main-nav .list li:nth-child(1) {
    margin-bottom: 20%;
  }
}
@-moz-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* 768 */
#part-home {
  padding-left: 80px;
}
#part-home header {
  position: relative;
  margin-bottom: 230px;
}
#part-home header h1 {
  position: absolute;
  top: 100px;
  left: 70px;
  z-index: 4;
  width: 600px;
  font: 500 40px/48px 'Work Sans', 'Helvetica', sans-serif;
  color: #9b9ba4;
}

#part-home header .hero-container {
  position: relative;
  width: calc(100% - 80px);
  margin-left: 40px;
}
#part-home header .hero-container .contact {
  margin-top: 50px;
  transform-origin: 0% 0%;
  transform: rotate(90deg) translateY(-100%);
}
#part-home header img {
  display: block;
  position: absolute;
  max-width: calc(100% - 100px);
  max-height: 100%;
  margin: 0 auto;
  bottom: 0;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
#part-home .contact {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 2;
}
#part-home .contact span {
  font-size: 18px;
  color: #4b32f0;
  display: block;
  margin-bottom: 3px;
}
#part-home .contact a {
  font-size: 22px;
}
#part-home .text strong {
  position: relative;
}
#part-home .text strong span {
  position: relative;
  z-index: 1;
}
#part-home .text strong b {
  position: relative;
  z-index: 2;
}
#part-home .text strong span:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 18px;
  width: 100%;
  background: #edeafd;
  z-index: 1;
}
/* EDITS ANDREW */
#part-home .text span#figgy:after {
	content: '';
	display: block;
	background: #edeafd;
	width: 100%;
}


#part-home .presentation {
  max-width: 1100px;
  padding: 0 80px;
  box-sizing: center;
  margin: 0 auto 100px;
  position: relative;
}
#part-home .presentation .text {
  font: 300 24px/38px 'Work Sans', 'Helvetica', sans-serif;
  color: #313035;
}
#part-home .presentation h2 {
  width: 60%;
}
#part-home .presentation .contact {
  top: auto;
  bottom: 11px;
  left: 60%;
  margin-left: 50px;
  white-space: nowrap;
}
#part-home .presentation .line {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 60%;
  margin: -150px 0 0 50px;
}
#part-home .presentation .line:before {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #000;
  left: 50%;
  top: 50%;
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.4s;
  opacity: 1;
}
#part-home .presentation.hidden .line:before {
  width: 0px;
  opacity: 0;
}
/* 913 skills part*/

#part-home .skills {
  color: #fff;
  margin: 0 auto;
  text-align: center;
  background: #4b32f0;
  padding: 110px 0;
}
#part-home .skills p {
  font: 500 24px/52px 'Work Sans', 'Helvetica', sans-serif;
  color: #fff;
  posiiton: relative;
}
#part-home .skills p:before {
  display: block;
  content: '';
  height: 8px;
  width: 8px;
  background: #fff;
  border-radius: 100%;
  margin: 0 auto 40px;
}
#part-home .skills ul {
  font: 300 30px/52px 'Work Sans', 'Helvetica', sans-serif;
}
/* 937 NO ICON SO NO FILL */

/* ANDREW EDITS */
.main-header a#bsideemail {
	text-decoration: none;
	cursor: pointer;
}
/* ANDREW EDITS */


#part-home .position {
  max-width: 950px;
  padding: 0 80px;
  margin: 0 auto 250px;
  position: relative;
}
#part-home .position .head {
  font: 500 24px/38px 'Work Sans', 'Helvetica', sans-serif;
  max-width: 470px;
  text-align: right;
  margin-bottom: 40px;
}
#part-home .position .text {
  font: 300 24px/38px 'Work Sans', 'Helvetica', sans-serif;
  box-sizing: border-box;
  padding-left: 250px;
}
#part-home .position .line {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: -220px;
  left: 100px;
}
#part-home .position .line:before {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #000;
  left: 50%;
  top: 50%;
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.6s;
  opacity: 1;
}
#part-home .position.hidden .line:before {
  width: 0%;
  opacity: 0;
}

/* CURRENT EDITS ABOVE */




/* Media queries */

