

.lgContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  background: inherit;
  transition: all cubic-bezier(.02,1,.32,1) 0.6s;
  transform: translatey(140px);
  display:none;
  z-index: 100px;
}

.lgContainer:before {
  content: '';
  position: absolute;
  top: 0; left:0; right:0; bottom:0;
  background: inherit;
  
  filter: blur(15px); 
  -webkit-filter: blur(16px); 
  -moz-filter: blur(16px);
  -o-filter: blur(16px);
  -ms-filter: blur(16px);
  filter: url(#blur);filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='8');
}


hiddenMusic {
  
}

/* SCROLL BAR */


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(150, 150, 150, 0.8);
}

body {
  
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

.container {
  margin: 0 auto;
  width: 100%;
  -moz-box-shadow: 3px 3px 45px 10px #555;
  -webkit-box-shadow: 3px 3px 45px 10px #555;
  -o-box-shadow: 3px 3px 45px 10px #555;
  box-shadow: 3px 3px 45px 10px #555;
}

.carousel {
  margin: 0 auto;
  width: 100%;
  height: 120px;
  position: relative;
  background-image: url();
  background-size: cover;
  transition: background-image 0.5s ease;
}


/*Slides*/

.carousel .slides {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.carousel .slides .items {
  position: relative;
  width: 100000px;
  font-size: 0;
  padding-left: calc(50vw - 50px);
  transition: all ease-out 0.3s;
}

.carousel .slides .item {
  
  margin: 5px 0px;
  width: 100vw;
  height: 200px;
  display: inline-block;
}

.carousel .slides .item .image {
  height: 100px;
  width: 100px;
}

.carousel .slides .item p {
  font-size: 12px;
  color: black;
  width: 200px;
  position: absolute;
  top: 50px;
  margin-left: -50px;
  text-align: center;
}

.carousel .slides .item .artist {
  font-weight: 300;
  transform: translatex(-110px);
  font-size: 16px;
  height: 25px;
  top: 50px;
}

.carousel .slides .item .track {
  font-weight: 500;
  transform: translatex(-110px);
  font-size: 14px;
  top: 75px;
}


/*Siblings*/

.carousel .siblings .sibling {
  position: absolute;
  width: 25px;
  height: 100%;
  top: 0px;
  background: transparent;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
}

.carousel .siblings .sibling.prev {
  left: 0px;
  background-color: blue;
  opacity: .5;
}

.carousel .siblings .sibling.next {
  right: 0px;
  background-color: blue;
  opacity: .5;
}

.carousel .siblings .play {
  position: absolute;
  position: absolute;
  background-color: black;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  top: 5px;
  left: calc(50vw - 50px);
  background-position: center;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  transition: all 0.4s ease;
  
}

.carousel .siblings .play.invisible {
  background-image: none;
  transition: all 0.4s ease;
}



/*Seek Bar */

.carousel .seek-bar {
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel .seek-bar .progress-bar {
  background-color: rgba(30, 30, 30, 0.6);
  width: 100%;
  height: 100%;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0;
  -moz-transform-origin: 0;
  -ms-transform-origin: 0;
  -o-transform-origin: 0;
  transform-origin: 0;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
}


/* SONG LIST */

 .container .choice {
  width: 300px;
  height: 200px;
  background-color: white;
}

.container .choice .tracks {
  height: 170px;
  overflow: scroll;
}

.container .choice .title {
  width: 290px;
  height: 30px;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
}

.container .choice .title p {
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  color: #555;
  font-size: 10px;
}

.container .choice .track {
  width: 250px;
  margin: auto;
  height: 50px;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
  font-weight: 300;
  cursor: pointer;
}

.container .choice .track div {
  display: inline-block;
}

.container .choice .track .number {
  line-height: 50px;
}

.container .choice .track .name {
  height: 30px;
  vertical-align: middle;
  padding-left: 25px;
}

.container .choice .track .name .song {
  margin-top: 4px;
  font-size: 12px;
}

.container .choice .track .speakers {
  height: 20px;
  width: 20px;
  background-image: url(http://audeficheux.com/projects/carousel/src/images/speaker.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  float: right;
  margin-top: 15px;
}

.container .choice .track .speakers.invisible {
  display: none;
}

.credits {
  width: 250px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  font-size: 12px;
  color: #555;
}

.credits a {
  text-decoration: none;
  color: black;
} 

.choice {
  display: none;
}

/* The Modal (background) */




/* The Close Button */

.close {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: #aaaaaa;
  font-size: 48px;
  line-height:28px;
  font-weight: bold;
  z-index: 2; 
}

.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: all ease-out 0.125s;
}

span.btnLines {
  position: absolute;
  display: block;
  background-color: white;
  width: 40px;
  height: 3px;
  border-radius: 90px;
  transition: all ease-out 0.125s;
}
span.lineOne {
  width: 70px;
  top:32%;
  left: 26%;
  transform: rotate(25deg);
  transition: all ease-out 0.125s;
}
span.line2 {
  width: 59px;
  top:46%;
  left: 0%;
  transform: rotate(90deg);
  transition: all ease-out 0.125s;
}
span.line3 {
  width: 70px;
  top:60%;
  left: 26%;
  transform: rotate(-25deg);
  transition: all ease-out 0.125s;
}

.isPaused {
  transform: scale(1.05);
  transform: rotate(360deg);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
  transition: all ease-out 0.125s;

}

.spn1P {
  
  width: 60% !important;
  height: 5px !important;
  left: 30% !important;
  top:  calc(50% - 5px) !important;
  transform: rotate(90deg) !important;
}

.spn2P {
  width: 0px !important;
}

.spn3P {
  width: 60% !important;
  height: 5px !important;
  top: calc(50% - 5px) !important;
  left: 6px !important;
  transform: rotate(-90deg) !important;
}
svg {
  height:0;
  width: 0;
  position: absolute;
}


/* @media screen and (max-width: 319px){
  div.modal-content {
    max-height: 250px;
  }  
  .carousel .seek-bar {
    top: 340px;
  }
} */
