/*Made by Andrew Erickson*/

/*GENERAL*/
body {
  background-image: url('../img/geometry_@2X.png') !important;
  font-family: 'Fira Sans', sans-serif !important;
}

a#betaWeb {
 text-decoration: none;
 color: #FF9180;
}



